.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	-moz-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.bg{
	background-image: url(../img/green-geometric.jpg);
	background-size: 20%;
	background-repeat: repeat;
	background-attachment: fixed;
}

.f-lg{
	font-size: 2em !important;
}

.f-md{
	font-size: 1em !important;
}
.f-sm{
	font-size: 0.5em !important;
}
.f-xs{
	font-size: 0.25em !important;
}